html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: blue; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* group charts */
.recharts-wrapper {
  display: inline-block;
}

/* Style page content - push the body to the right */
body {
  transition: margin-left 0.5s;
  /* padding-top: 50px; */
  /* overflow: hidden; */
  /* overflow: hidden; */
}

h1 {
  margin: 0;
  /* padding-top: 50px; */
  text-align: center;
  padding: 100px 0 0;
}

/* body responsiveness to when the navbar toggle */
/*.marginBody {
  margin-left: 45px;
}*/

/* TABLE from notifications and List page */
table {
  border-collapse: collapse;
  width: 80%;
  /* margin: 80px auto 0; */
  margin: auto;
}

td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #6bd2c9;
  color: white;
  text-align: left;
  padding: 8px;
}

h4 {
  margin: 10px 0;
}
